/* Skills Section */
.skills .title::after {
  content: "What I Know";
}
.skills .skills-content .column {
  width: calc(50% - 30px);
}
.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left {
  text-align: justify;
  margin-bottom: 10px;
}
.skills .skills-content .left a {
  display: inline-block;
  background: blueviolet;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 20px;
  margin-top: 15px;
  border-radius: 15px;
  border: 2px solid blueviolet;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
  color: blueviolet;
  background: none;
}
.skills .skills-content .right .bars {
  margin-bottom: 10px;
}
.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line {
  height: 10px;
  width: 100%;
  background: lightgray;
  border-radius: 6px;
  position: relative;
}
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, blueviolet, red);
}
.skills .skills-content .right .html::before {
  width: 90%;
}
.skills .skills-content .right .css::before {
  width: 90%;
}
.skills .skills-content .right .js::before {
  width: 60%;
}
.skills .skills-content .right .php::before {
  width: 5%;
}
.skills .skills-content .right .mysql::before {
  width: 5%;
}
.skills .skills-content .right .react::before {
  width: 20%;
}